/* body {background-color: #D4E157;} */

@keyframes my-first-animation {

10%:hover {background-color:#D4E157;
    width: 50px;
    height: 50px;
}

25% {background-color:#FFEE58;
    width: 150px;
    height: 150px;
}
50% {background-color:#FFCA28;
    width: 200px;
    height: 200px;
}
75% {background-color:#FFA726;
    width: 250px;
    height: 250px;
}
100% {background-color:#FF7043;
    width: 300px;
    height: 300px;
}
}

.animation {
    width: 50px;
    height: 50px;
    background-color: #D4E157;
    animation-name: my-first-animation;
    animation-duration: 5s;
    animation-fill-mode: both;
    cursor: zoom-in;
    animation: none;
}

div:hover{
    animation: my-first-animation 2s infinite;
}
